body {
  background: none;
}

.container {
  max-width: 100vw !important;
}

#landing-page {
    height: 100%;
}

#landing-page .row {
  height: 100%;
}

#text-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#phone-col {
  display: none;
}

#text-col h1,h2 {
  text-align: left;
}

#text-col h1 {
  color: #00CC89;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 2px;
}

#text-col h2 {
  color: #666666;
  font-size: 3rem;
}
@media (min-width: 768px) {
  #text-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
  }
  #phone-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#text-col div {
  color: white;
  font-size: 2rem;
  background-color: #00CC89;
  text-align: center;
  border-radius: 7px;
  width: 75%;
  max-width: 300px;
  cursor: pointer;
}

#text-col div:hover {
  background-color: #00734dff;
}

#phone-col #iPhone {
  height: 80%;
}
