#localTitle{
	font-size: 50px;
	text-align: center;
}
.custom{
	font-size: 12px;
}
.Card{
	position: relative;
	top:50px;
}
#customEvents{
	font-size: 50px;
	text-align: center;
}
#open{
	font-size: 3s0px;
	text-align: center;
}
