.Whole{
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.intro{
  padding-top: 38%;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 0;
}

.Cover{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Title{
  font-size: 2em;
  color: black;
  text-align: left;
}
h1 #Hosted{
  font-size: 18px;
  color: grey;
}
.Date h2, h1{
  font-size: 14px;
  text-align: left;
  color: black;
}
.Location{
  position: relative;
  top: -68px;
}
.Location h1, h2{
  font-size: 14px;
  text-align: center;
  color: black;
}
.Description p{
  font-size: 14px;
  text-align: left;
  color: black;
}
