@import url("https://fonts.googleapis.com/css?family=Hind");
#Navlink-overide {
  font-family: "Hind", sans-serif;
  font-size: 120%;
  line-height: 40px;
  width: 100px;
  text-align: center;
  font-weight: 100;
  color: #e2edff;
}

#Navlink-overide:hover {
  color: #e2edff;
  background-color: #00CC89;
  border-radius: 2px;
}