@import url("https://fonts.googleapis.com/css?family=Hind");
html, body {
  height: 100%
}

body {
  background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/76/70/5157beeff278f43.jpg) center no-repeat;
  background-size: 100% 100%;
  font-family: 'Hind', sans-serif;
}

#title {
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.block-card {
  max-width: 550px;
  width: 400px;
  height: 380px;
  margin: 30px;
  margin-bottom: 30px;
  float: left;
  font-family: 'Hind', sans-serif;
  color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: white;
}

.block-card a button {
  color: rgba(54, 60, 82, 1);
  text-decoration: none;
}

.title-content {
  text-align: center;
  width: 100%;
  position: relative;
  top: 15px;
}

.block-card h3, .block-card h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Hind', sans-serif;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
}

.block-card h3 a button {
  transition: all 0.2s
}

.intro {
  white-space: nowrap;
  color: rgba(54, 60, 82, 1);
  font-size: 1.0em;
  color: rgba(54, 60, 82, 1);
  font-style: italic;
  line-height: 18px;
}

.create-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 60px;
}

.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  bottom: 0px;
  /*left: 50px;*/
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 15px;
}

.card-info a button {
  display: block;
  width: 120px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  margin: 15px auto;
  background: #00CC89;
  color: #444;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 0.9em
}

.card-info a:hover {
  background: #00CC89;
  color: #fff;
}

.card-info p {
  color: black;
  font-size: 1.3em;
  top: -10px;
  width: 100%;
}

.create {
  font-size: 50px;
}

@media (max-width:768px) {
  .cover-photo {
    width: 400px;
    height: 210px;
  }
}

@media (max-width:430px) {
  .block-card {
    width: 345px;
    left: 7%;
  }
}