@import url("https://fonts.googleapis.com/css?family=Hind");
body{
	 height: 100%;
	 width: 100%;
}
main{
	background: url(https://cdn.wallpapersafari.com/75/99/V3UN2j.jpg);
	height: 100%;
	width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10%;

}
.content h1{
	font-family: "Hind", sans-serif;
	font-size: 600%;
	font-weight: 400;
	color: rgba(54,60,82,1);
	line-height: 100%;
	position: relative;
	top: 50px;
}
.content h2{
	font-family: "Hind", sans-serif;
	font-size: 200%;
	font-weight: lighter;
	color: rgba(54,60,82,1);
	position: relative;
	top: 10px;
}
.content h3{
	font-family: "Hind", sans-serif;
	font-size: 200%;
	font-weight: 500;
	color: rgba(54,60,82,1);
	position: relative;
	top: 10px;
	left: auto;
}
@media screen and (max-width: 900px) {
	.content{
		padding-bottom: 30%;
	}
	.content h1{
		font-size: 4rem;
		top: 80px;
	}
	.content h2{
		font-size: 150%;
		top: 80px;
	}
	.content h3{
		font-size: 150%;
		top: 80px;
	}
	.content #btnLogin{
		font-size: 1.3rem;
		top: 80px;
	}
}
@media screen and (max-width: 768px) {
	.content{
		padding-bottom: 40%;
	}
	.content h1{
		font-size: 4rem;
		top: 80px;
	}
	.content h2{
		font-size: 150%;
		top: 80px;
	}
	.content h3{
		top: 80px;
	}
	.content #btnLogin{
		font-size: 1.3rem;
		top: 80px;
	}
}
@media screen and (max-width: 480px) {
	.content{
		padding-bottom: 100%;
	}
	.content h1{
		font-size: 4rem;
		top: 80px;
	}
	.content h2{
		font-size: 150%;
		top: 80px;
	}
	.content h3{
		font-size: 150%;
		top: 80px;
	}
	.content #btnLogin{
		font-size: 1.3rem;
		top: 80px;
	}
}
@media screen and (max-width: 400px) {
	.content{
		padding-bottom: 100%;
	}
	.content h1{
		font-size: 4rem;
		top: 90px;
	}
	.content h2{
		font-size: 1.4rem;
		top: 110px;
		text-align: center;
	}
	.content h3{
		font-size: 1.3rem;
		top: 120px;
	}
	.content #btnLogin{
		font-size: 1.3rem;
		top: 110px;
	}
}
